option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_URL: jdbc:postgresql://miti.cx4a2w6ed87w.ap-northeast-2.rds.amazonaws.com:5432/postgres
    DB_PASSWORD: gccdbroot1!
    MAIL_URL: pocard0117@gmail.com
    MAIL_PASSWORD: xemfcgslcfwfbtee
    JWT_SECRET: changethissecretkeytowhatyouwantaaaaaaaaaaaaaa